* {
  box-sizing: border-box;
}

:root {
  --default-font: Poppins;
  --default-color: rgb(199, 199, 199);
  --font-color: white;
  --line-color: rgb(107, 22, 22);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  line-height: 1.5;
  background-color: var(--default-color)
}

h1, h2, h3 {
  margin: 0;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0;
  padding: 5px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.5s ease; /*not working*/
}

a:hover, a:active {
  font-size: 120%;
  font-weight: 600;
}

/* Navigation Bar */
.customNav {
  position: relative;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand {
  color: var(--font-color);
}

.nav-item {
  margin: 0px 15px;
}

.customNav a, .customNav p {
  color: var(--font-color) !important;
}
/* end Navigation Bar */

/* hero banner */

.jumboCopy {
  text-align: right;
  margin-right: 0;
  align-items: flex-end;
}


.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 29vh;
  display: flex;
  align-items: flex-end;
  color: var(--font-color) !important;
}

.hero-banner h2 {
  font-size: 28px;
}
/* end hero banner */

.line {
  background: var(--line-color);
  width: 1px;
  padding: 2px;
}

.about-me {
  display: flex;
}

.content-title {
  font-weight: 800;
  padding: 5px;
  /* border-right: 2px solid var(--line-color); */
  text-align: center;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  align-items: center;
  padding-top: 15px;
}

.about-text {
  justify-content: space-between;
}

/* .content-title {
  grid-area: about-title;
  margin-bottom: 15px;
  align-items: center;
  font-size: 20px;
} 
/* header {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
} */

#content {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 135px 1fr 1fr;
  grid-template-areas:
  "about-title about-text about-text"
  "work-title work-1 work-1"
  "work-title work-2 work-3"
  "work-title work-4 work-5"
  "contact-title contact-details contact-details";
}



.heading {
  background-color: rgba(0, 0, 0, 0.7) ;
  height: 30px;
  color: white;
  position: relative;
  font-size: 15px;
  border-bottom: 5px solid var(--line-color);
}

/*
#about-text {
  grid-area: about-text;
  margin-left: 25px;
} */

#work-title {
  grid-area: work-title;
  margin-top: 15px;
}

.work-grid {
  margin-top: 15px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: end;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#work-1 {
  grid-area: work-1;
  background-image: url(../images/01-horiseon.jpg);
  background-size: cover;
  height: 150px;
  margin-left: 25px;
  margin-bottom: 10px;
}

#work-2 {
  grid-area: work-2;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  height: 150px;
  margin-left: 25px;
  margin-bottom: 10px;
}

#work-3 {
  grid-area: work-3;
  background-image: url("../images/02-portfolio-3.jpg");
  height: 150px;
  margin-left: 25px;
  margin-bottom: 10px;
}

#work-4 {
  grid-area: work-4;
  background-image: url("../images/02-portfolio-4.jpg");
  height: 150px;
  margin-left: 25px;
}

#work-5 {
  grid-area: work-5;
  background-image: url("../images/02-run-buddy.jpg");
  height: 150px;
  margin-left: 25px;
}

#work-1:hover, #work-2:hover, #work-3:hover, #work-4:hover, #work-5:hover {
  transform: scale(1.1);
}

#contact-title {
  grid-area: contact-title;
  margin-top: 15px;
}

.contact-details {
  grid-area: contact-details;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 25px;
  margin-top: 15px;
  padding: 5px;
  flex-wrap: wrap;
}

footer {
  padding: 30px;
  clear: both;
  font-family: var(--default-font);
  text-align: center;
}

footer h4 {
  font-weight: 100;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: 75px;
  }

  #name {
    font-size: 20px;
    padding-top: 10px;
    justify-content: center;
  }

  h2 {
    font-size: 18px;
  }

  #navbar {
    justify-content: space-between;
    width: 75%;
    padding-bottom: 10px;
  }

  #content {
    grid-template-columns: 110px 1fr 1fr;
  }

  p {
    font-size: 12px;
  }

  .heading {
    font-size: 12px;
    bottom: 0;
    height: 43px;
  }

  .content-title {
    font-size: 15px;
  }
}