* {
  box-sizing: border-box;
}

:root {
  --default-font: Poppins;
  --default-color: rgb(233, 233, 233);
  --font-color: white;
  --line-color: rgb(104, 104, 104);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  line-height: 1.5;
  background-color: var(--default-color)
}

h1, h2, h3 {
  margin: 0;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0;
  padding: 5px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.5s ease; /*not working*/
}

a:hover, a:active {
  font-size: 120%;
  font-weight: 600;
}

/* Navigation Bar */
.customNav {
  position: relative;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand {
  color: var(--font-color);
}

.nav-item {
  margin: 0px 15px;
}

.customNav a, .customNav p {
  color: var(--font-color) !important;
}
/* end Navigation Bar */

/* hero banner */

.jumboCopy {
  text-align: right;
  margin-right: 0;
  align-items: flex-end;
}


.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 29vh;
  display: flex;
  align-items: flex-end;
  color: var(--font-color) !important;
}

.hero-banner h2 {
  font-size: 28px;
}
/* end hero banner */

.line {
  background: var(--line-color);
  width: 1px;
  padding: 2px;
}

.content-title {
  font-weight: 800;
  padding: 5px;
  text-align: center;
}

/* About me section */
.about-me {
  display: flex;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  align-items: center;
  padding-top: 15px;
}

.about-text {
  justify-content: space-between;
}

/* Work section */

.work {
  margin-top: 25px;
}

.work-cards {
  display: flex;
}

.card {
  margin: 10px;
  width: calc(100%/2);
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22,26,0.18);
}

.card-photo {
  height: 30vh;
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #cacaca;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(50%);
}

.carousel-control-prev span, .carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width:576px) {
  .work-cards {
    display: flex;
  }

  .card-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 100% 0;
  }
}

@media screen and (max-width:575px) {
  .card:not(:first-child) {
    display: none;
  }
  .card {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .card-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 100% 0;
  }
}




#content {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 135px 1fr 1fr;
  grid-template-areas:
  "about-title about-text about-text"
  "work-title work-1 work-1"
  "work-title work-2 work-3"
  "work-title work-4 work-5"
  "contact-title contact-details contact-details";
}


#contact-title {
  grid-area: contact-title;
  margin-top: 15px;
}

.contact-details {
  grid-area: contact-details;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 25px;
  margin-top: 15px;
  padding: 5px;
  flex-wrap: wrap;
}

footer {
  padding: 30px;
  clear: both;
  font-family: var(--default-font);
  text-align: center;
}

footer h4 {
  font-weight: 100;
  font-size: 13px;
}